/* Анимации CSS3 без js */
/* Аниминуем иконку сердца в блоке Наши преимущества */
/*  */
@keyframes heartbeat {
    from {
        transform: scale(1);/* от маштаба 100% */
    }
    50% {
        transform: scale(1.4);/*на 50% самой анимации сердце увеличевается на 100+40 */
    }
    to {
        transform: scale(1);/*в конце анимации возвращается к 100% */
    }
}