@media (max-width:1400px) {
    /* Отлючаем анимацию на вс1м что меньше 1400 */
    .animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}
@media (max-width:1200px) {
    .carousel {
        .container {
            max-width: 820px;
        }
        .tns-item img {
            width: 100%;
        }
    }
}
@media (max-width:991px) {
    .container {
        max-width: 90%;
    }
    .promo {
        background: url(../img/main.jpg) no-repeat;
        min-height: min-content;
        padding-bottom: 50px;
    }
    .advantages {
        padding-top: 40px;
        .container {
            max-width: 90%;
        }
        &__block {
            width: 220px;
            margin-top: 40px;
        }
    }
    .carousel {
        .container {
            max-width: 650px;
        }
    }
    .catalog {
        .container {
            max-width: 620px;
        }
    }
    .footer {
        &__info {
            padding: 40px;
            top: 47px;
            width: 322px;
            height: 243px;
        }
        &__address {
            margin-bottom: 15px;
        }
        &__phone {
            margin-bottom: 20px;
        }
    }

    
    
}
@media (max-width:767px) {
    .promo {
        padding-bottom: 50px;
        &__header {
            font-size: 38px;
        }
        &__subheader {
            font-size: 21px;
        }
        &__icons {
            margin-top: 50px;
            width: 360px;
        }
        &__icon {
            font-size: 12px;
            img {
                width: 30%;
                margin-bottom: 12px;
            }
        }
        .button_main {
            margin-top: 45px;
            width: 245px;
            height: 40px;
            font-size: 14px;
        }
        &__link {
            font-size: 14px;
        }
    }
    .header {
        &__logo {
            width: 162px;
        }
        &__official {
            font-size: 11px;
            span {
                font-size: 16px;
            }
        }
        &__phone {
            font-size: 16px;
        }
        .button {
            width: 140px;
            height: 22px;
            font-size: 11px;
        }
    }
    .advantages {
        padding-top: 25px;
        .title {
            font-size: 26px;
        }
        &__block {
            margin-top: 25px;
            img {
                width: 30%;
                margin-bottom: 15px;
            }
        }
        &__text-block {
            font-size: 13px;
            margin: 0 15px;
            h3 {
                font-size: 15px;
                margin-bottom: 15px;
            }
        }
    }
    .consultation {
        &__descr {
            font-size: 18px;
        }
        .title_left {
            font-size: 34px;
            br {
                display:none;
            }
        }
        
    }
    .carousel {
        .container {
            max-width: 425px;
        }
        .next img, .prev img {
            width: 25px;
        }
    }
    .catalog {
        .container {
            max-width: 515px;
        }
        &__content {
            flex-direction: column;
            align-items: center;
        }
        &__tab {
            font-size: 16px;
        }
    }
}
@media (max-width:575px) {
    .title {
        font-size: 23px;
    }
    .promo {
        background: url(../img/main.jpg) center (center/cover) no-repeat;
        background-position-x: 14%;
        &__header {
            font-size: 28px;
            text-align: right;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icon {
            font-size: 10px;
        }
        &__icons {
            width: 285px;
        }
        &__wrapper {
            margin-top: 80px;
            text-align: right;
        }
        .button_main {
            margin-top: 65px;
            width: 200px;
            font-size: 12px;
        }
        &__link {
            font-size: 12px;
        }
    }
    .header {
        &__phone {
            font-size: 14px;
        }
        .button {
            width: 122px;
            font-size: 9px;
        }
        &__official {
            display: none;
        }
    }
    .advantages {
        padding: 25px 0;
        .title {
            font-size: 23px;
        }
        &__wrapper {
            display: block;
        }
        &__block {
            margin: 15px auto;
        }
    }
    .consultation {
        padding: 30px 0;
        min-height: 567px;
        .title_left {
            font-size: 23px;
        }
        &__descr {
            font-size: 14px;
        }
        .feed-form {
            width: 287px;
            input {
                height: 40px;
            }
            .button_submit {
                height: 40px;
                font-size: 14px;
            }
        }
    }
    .carousel {
        .container {
            max-width: 240px;
        }
        .next img, .prev img {
            width: 15px;
        }
        .next {
            right: -33px;
            padding: 0;
        }
        .prev {
            left: -33px;
            padding: 0;
        }
    }
    .catalog {
        padding-bottom: 60px;
        .title {
            font-size: 20px;
        }
        .container {
            max-width: 270px;
        }
        &__content {
            flex-wrap: nowrap;
            margin-top: 35px;
        }
        &__tab {
            height: 37px;
            font-size: 10px;
            line-height: 17px;
            br {
                display: inherit;
            }
        }
        &__tabs {
            margin-top: 30px;
        }
    }
    .reviews {
        .title {
            margin-bottom: 50px;
        }
        &__block {
            flex-direction: column;
            align-items: center;
        }
        &__text-block {
            margin-left: 30px;
            padding-right: 10px;
            margin-top: 30px;
        }
    }
    .footer {
        &__info {
            padding: 20px 0 0 0;
            width: 220px;
            height: 183px;
        }
        &__address {
            font-size: 17px;
        }
        &__phone {
            font-size: 17px;
        }
        &__social-item {
            width: 42px;
            height: 42px;
        }
    }
    .overlay {
        .modal {
            width: 280px;
            min-height: 370px;
            &__close {
                right: 5px;
                font-size: 35px;
                line-height: 30px;
            }
        }
        .feed-form {
            width: 215px;
            input {
                height: 40px;
            }
            .button_submit {
                height: 40px;
                margin-top: 10px;
            }
        }
        
    }
}