@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/slick';
@import 'libs/animate';
@import 'libs/tiny_slyder';

@import 'base/variables';
@import 'base/mixins';
@import 'base/animation';

* {
    font-family: 'Museo Sans Cyrl', sans-serif;
    /* border: 1px solid red; */
}
/* строим без boostrap, только flex вёрсткой */
.container {
    position: relative;/* для позиционирования стрелок */
    max-width: 950px;
    margin: 0 auto;
}
hr {
    margin-top: 19px;
    margin-bottom: 21px;
    border: 1px solid #e8e8e8;
    border-top: none; /* т.к. полоса образуется двумя границами hr, а нам надо толщину линии в 1px то просто убираем одну границу */
}
/* импорты блоков поддягиваем внизу кода */

@import 'blocks/promo'; /* блоки сайта по БЭМ, блок промо */
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/titles';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';

/* последним поддтягиваем media потому как иначе будет сначало читать медиа а потом уже основной код */
@import 'base/media';
