.pageup {
    display: none; /* как страница отматается на 1600 пикселей вниз - стрелка появится, настроено в скрипте */
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 40px;
    height: 40px;
    img {
        width: 100%;
    }
}